__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytype/


#scatter related
paramikoSSH.log
ui.html
badchunks
errors
ssh2thing.py
sctr.db
*.db
scatterhoard/*.bak
scatterhoard/*.pyc
scatterhoard/*.db
scatterhoard/__pycache__/
scatterhoard/webserverhoard.py
scatterhoard/sshcomhoardssh2python.py
scatterhoard/fuse.py
scatterhoard/dbhoard2.py
scatterhoard/webserverhoard.pyc
scatterhoard/todo.txt
